Repository Saman13/infrastructureYA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kubernetes, sausage-store-chart

.gitlab-ci.yml:

stages:
  - module-pipelines

kubernetes:
  stage: module-pipelines
  trigger:
    include:
      - "/kubernetes/.gitlab-ci.yml"
    strategy: depend # depend нужен, если какой-нибудь дочерний пайплайн свалился, мы знали, что общий пайплайн тоже идёт с ошибкой
  only:
    changes: # как только происходит изменение в папке frontend, запускается дочерний пайплайн, который лежит в этой папке
      - kubernetes/**/*

sausage-store-chart:
  stage: module-pipelines
  trigger:
    include:
      - "/sausage-store-chart/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - sausage-store-chart/**/*

bag fix
  kubernetes/backend/configmap.yaml
Due: kubernetes

bag fix
  ArgoCD.yaml
  sausage-store-chart/.gitlab-ci.yml
  sausage-store-chart/charts/backend-report/templates/deployment.yaml
Due: sausage-store-chart

bag fix
  ArgoCD.yaml
  sausage-store-chart/charts/backend-report/templates/deployment.yaml
Due: sausage-store-chart

bag fix
  sausage-store-chart/Chart.yaml
Due: sausage-store-chart

bag fix
  sausage-store-chart/Chart.yaml
  sausage-store-chart/charts/backend-report/Chart.yaml
  sausage-store-chart/charts/backend/Chart.yaml
  sausage-store-chart/charts/frontend/Chart.yaml
Due: sausage-store-chart

bag fix
  ArgoCD.yaml
  sausage-store-chart/Chart.yaml
  sausage-store-chart/charts/backend-report/Chart.yaml
  sausage-store-chart/charts/backend/Chart.yaml
  sausage-store-chart/charts/frontend/Chart.yaml
Due: sausage-store-chart

Update deployment.yaml
  sausage-store-chart/charts/backend-report/templates/deployment.yaml
Due: sausage-store-chart

Update Chart.yaml
  sausage-store-chart/Chart.yaml
Due: sausage-store-chart

bag fix
  ArgoCD.yaml
  sausage-store-chart/Chart.yaml
  sausage-store-chart/charts/backend-report/Chart.yaml
  sausage-store-chart/charts/backend-report/templates/deployment.yaml
  sausage-store-chart/charts/backend/Chart.yaml
  sausage-store-chart/charts/frontend/Chart.yaml
Due: sausage-store-chart

add v. 0.1.8
  ArgoCD.yaml
  sausage-store-chart/Chart.yaml
  sausage-store-chart/charts/backend-report/Chart.yaml
  sausage-store-chart/charts/backend-report/templates/deployment.yaml
  sausage-store-chart/charts/backend-report/templates/hpa.yaml
  sausage-store-chart/charts/backend-report/templates/secrets.yaml
  sausage-store-chart/charts/backend-report/templates/service.yaml
  sausage-store-chart/charts/backend/Chart.yaml
  sausage-store-chart/charts/backend/templates/deployment.yaml
  sausage-store-chart/charts/backend/templates/secrets.yaml
  sausage-store-chart/charts/backend/templates/service.yaml
  sausage-store-chart/charts/backend/templates/vpa.yaml
  sausage-store-chart/charts/frontend/Chart.yaml
  sausage-store-chart/charts/frontend/templates/deployment.yaml
  sausage-store-chart/charts/frontend/templates/ingress.yaml
  sausage-store-chart/charts/frontend/templates/service.yaml
Due: sausage-store-chart

add v. 0.1.8
  sausage-store-chart/Chart.yaml
  sausage-store-chart/charts/backend-report/Chart.yaml
  sausage-store-chart/charts/backend-report/templates/secrets.yaml
  sausage-store-chart/charts/backend/Chart.yaml
  sausage-store-chart/charts/backend/templates/secrets.yaml
  sausage-store-chart/values.yaml
Due: sausage-store-chart

add v. 0.1.8
  sausage-store-chart/Chart.yaml
  sausage-store-chart/charts/backend-report/Chart.yaml
  sausage-store-chart/charts/backend/Chart.yaml
Due: sausage-store-chart

add v. 0.1.10
  ArgoCD.yaml
  sausage-store-chart/charts/frontend/templates/ingress.yaml
Due: sausage-store-chart

add v. 0.1.10
  sausage-store-chart/Chart.yaml
  sausage-store-chart/charts/backend-report/Chart.yaml
  sausage-store-chart/charts/backend/Chart.yaml
  sausage-store-chart/charts/frontend/Chart.yaml
Due: sausage-store-chart

add v. 0.1.11
  sausage-store-chart/Chart.yaml
  sausage-store-chart/charts/backend-report/Chart.yaml
  sausage-store-chart/charts/backend-report/templates/secrets.yaml
  sausage-store-chart/charts/backend/Chart.yaml
  sausage-store-chart/charts/backend/templates/secrets.yaml
  sausage-store-chart/charts/frontend/Chart.yaml
  sausage-store-chart/charts/frontend/templates/secrets.yaml
  sausage-store-chart/values.yaml
Due: sausage-store-chart

add Loki logs
  Logs/Loki-logs.png
Due: none

add annotation to backend
  sausage-store-chart/charts/backend/templates/deployment.yaml
Due: sausage-store-chart

add 0.1.12
  sausage-store-chart/Chart.yaml
Due: sausage-store-chart

add 0.1.13
  ArgoCD.yaml
  sausage-store-chart/Chart.yaml
  sausage-store-chart/charts/backend/Chart.yaml
Due: sausage-store-chart

delete k8s
  kubernetes/.gitlab-ci.yml
Due: kubernetes

helm install sausage-store
  sausage-store-chart/.gitlab-ci.yml
Due: sausage-store-chart

add v 0.1.14
  sausage-store-chart/Chart.yaml
  sausage-store-chart/charts/backend-report/Chart.yaml
  sausage-store-chart/charts/backend/Chart.yaml
  sausage-store-chart/charts/frontend/Chart.yaml
Due: sausage-store-chart

add v 0.1.14
  sausage-store-chart/.gitlab-ci.yml
Due: sausage-store-chart

add v 0.1.15
  sausage-store-chart/.gitlab-ci.yml
  sausage-store-chart/Chart.yaml
  sausage-store-chart/charts/backend-report/Chart.yaml
  sausage-store-chart/charts/backend/Chart.yaml
  sausage-store-chart/charts/backend/templates/deployment.yaml
  sausage-store-chart/charts/frontend/Chart.yaml
Due: sausage-store-chart

modify ArgoCD.yaml
  ArgoCD.yaml
Due: none

add img (Grafana)
  img/SausageStoreApp.png
  img/SausageStoreBusiness.png
Due: none

add notification
  notification/alermanager.yaml
  notification/confimap.yaml
  notification/rules.yaml
  sausage-store-chart/Chart.yaml
  sausage-store-chart/charts/backend-report/Chart.yaml
  sausage-store-chart/charts/backend/Chart.yaml
  sausage-store-chart/charts/backend/templates/deployment.yaml
  sausage-store-chart/charts/frontend/Chart.yaml
  sausage-store-chart/values.yaml
Due: sausage-store-chart

bag fix
  sausage-store-chart/Chart.yaml
  sausage-store-chart/values.yaml
Due: sausage-store-chart

bag fix
  notification/alermanager.yaml
  sausage-store-chart/charts/backend/templates/deployment.yaml
  sausage-store-chart/values.yaml
Due: sausage-store-chart

bag fix
  notification/alermanager.yaml
Due: none

bag fix
  notification/alermanager.yaml
  notification/confimap.yaml
  notification/rules.yaml
Due: none
